.Rproj.user
.Rhistory
.RData
.Ruserdata
*.eps
*.pdf
*.Rmd
*.Rd
*.RData
*.html
*.gif
*.Rproj
*.sublime-project
*.sublime-workspace
*.sh
*.o
*.so
*.tar.gz
/data/*
/doc/*
/literature/*
/results/*
/tests-own/*
