.Rproj.user
.Rhistory
.RData
.Ruserdata
*.eps
*.pdf
*.Rmd
*.Rd
*.RData
*.html
*.gif
*.Rproj
*.sublime-project
*.sublime-workspace
*.sh
*.o
*.so
*.tar.gz
*.code-workspace
*.json
/data/*
/doc/*
/literature/*
/results/*
/tests-own/*
/inst/simulation-studies/*
/inst/generate-artificial-datasets/*
./04-results/*
